@{
    ViewBag.Title = "Home";
}

<section class="content-header">
    @*<h1>@ViewBag.Title @(ViewBag.TitleSmall != null ? Html.Raw("<small>" + ViewBag.TitleSmall + "</small>") : "")</h1>*@

    <ol class="breadcrumb"></ol>
</section>

<section class="content">
    <div class="jumbotron">
        <h1>Adventure Works</h1>
        <p>
            This is demo application based on fictional Adventure Works company data. Adventure Works is specialized for selling cycles and equipment.
        </p>
        <p>
            Application uses following technologies:
            <ul>
                <li>ASP.NET MVC 5</li>
                <li>Kendo UI</li>
                <li>AdminLTE</li>
                <li>Entity Framework</li>
                <li>MS SQL database</li>
            </ul>
        </p>
    </div>
</section><!-- /.content -->
