@using AdventureWorks.Resources
@{
    ViewBag.Title = Labels.ReleaseNotes;
}

<section class="content-header">
    <h1>@ViewBag.Title</h1>

    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> @Labels.Home</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<section class="content">
    <h3>0.0.4</h3>
    <ul>
        <li>Admin: Added roles and users management.</li>
    </ul>
    <h3>0.0.3</h3>
    <ul>
        <li>Admin: Added authorization.</li>
    </ul>
    <h3>0.0.2</h3>
    <ul>
        <li>Updated admin look.</li>
    </ul>
    <h3>0.0.1</h3>
    <ul>
        <li>Application init</li>
    </ul>
</section>