@using AdventureWorks.Resources
@using AdventureWorks.Web.Helpers.Settings
@model AdventureWorks.Web.Models.Error.NotFoundViewModel
@{
    ViewBag.Title = Labels.NotFound;
}
    <div class="login-box" style="width: 750px">
        <div class="login-logo">
            <b>@AppSettings.AppName</b>
        </div>

        <div class="login-box-body">
            <p class="login-box-msg">
                @Html.Raw(string.Format(Messages.NotFound_Message, Model.Url, Html.ActionLink(Labels.Home, "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })))
            </p>
            <div class="footer">
                <a href="@Url.Action("Index", "Home" )" class="btn btn-default btn-primary" style="width: 100%;">@Labels.Home</a>
            </div>
        </div><!-- .login-box-body -->
    </div><!-- .login-box -->
